.vscode/**
.vscode-test/**
src/**
test/**
build/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
!out/**/*.cjs
!dist/**/*
*.vsix
